.OpenStore-Section2-Container-Product {
  background-color: #fc0009;
  padding: 10px;
  width: max-content;
  margin: auto;
}

.OpenStore-Section2-Container-ProductImage {
  width: 70vw;
  display: block;
}
