.OpenStore-Section1-Container {
  position: relative;
}

.OpenStore-Section1-bg1 {
  display: block;
  width: 100%;
}

.OpenStore-Section1-open-list {
  box-sizing: border-box;
  border: 0;
  font: inherit;
  padding: 0;
  vertical-align: baseline;
  display: flex;
  justify-content: space-between; /* Điều chỉnh khoảng cách giữa các item */
  left: 50%;
  margin: auto auto 8vh auto;
  position: absolute;
  transform: translateX(-50%);
  top: 51vh;
  width: 60%;
  gap: 0; /* Loại bỏ khoảng cách giữa các phần tử */
}

.OpenStore-Section1-open-item {
  margin: 0; /* Đảm bảo không có margin dư thừa */
}

.OpenStore-Section1-open-item img {
  transition: all 0.2s ease-in-out;
  display: block; /* Loại bỏ khoảng trắng xung quanh ảnh */
  width: 100%; /* Đảm bảo ảnh bao phủ toàn bộ item */
  height: 100%;
}
/* .OpenStore-Section1-open-item img:hover {
  box-shadow: 0 4px 20px rgba(255, 215, 0, 0.8); 
} */
.OpenStore-Section1-open-item.x1 {
  width: 20%;
}

.OpenStore-Section1-open-item.x2 {
  width: 30.3%;
}

.OpenStore-Section1-open-item.x3 {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  z-index: 2;
}
.OpenStore-Section1open-title {
  box-sizing: border-box;
  border: 0;
  font: inherit;
  margin: 0;
  vertical-align: baseline;
  background-color: #fe0000;
  color: #fff;
  padding: 0px 0;
  display: flex;
  font-size: 16px;
  justify-content: space-around;
}
.OpenStore-Section1-video {
  display: flex;
  width: 80vw;
  margin: 20px auto;
  justify-content: space-around;
}
.OpenStore-Section1-video iframe {
  border-radius: "1.2rem";
}
.OpenStore-Section1-video-item {
  width: 595px;
  height: 315px;
}
.OpenStore-Section1-boxText {
  padding: 5px;
  width: 80vw;
  background-color: #fff;
  color: black;
  margin: auto auto auto auto;
  text-align: unset;
}
.OpenStore-Section1-boxTextTitle {
  padding: 20px 40px;
  width: 35%;
  margin-right: 10px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
}
.OpenStore-Section1-boxTextImage {
  border-radius: 10px;
  width: 80vw;
}
@media (max-width: 1000px) {
  .OpenStore-Section1-video-item {
    width: 45vw;
    height: 30vw;
  }
  .OpenStore-Section1-open-list {
    top: 18.5vh;
  }
  .OpenStore-Section1-video {
    display: flex;
    width: 100vw;
    margin: 20px auto;
    justify-content: space-around;
  }
  .OpenStore-Section1-boxTextTitle {
    padding: 20px 30px;
    width: 40%;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
  }
  .OpenStore-Section1-boxTextImage {
    border-radius: 10px;
    width: 95vw;
  }
  .OpenStore-Section1-boxText {
    padding: 5px;
    width: 95vw;
  }
}
@media (max-width: 767px) {
  .OpenStore-Section1-video-item {
    width: 90vw;
    display: block;
    height: 50vw;
    margin: 20px auto;
  }
  .OpenStore-Section1-open-list {
    top: 14.6vh;
  }
  .OpenStore-Section1-video {
    display: block;
    width: 100vw;
    margin: 20px auto;
    justify-content: unset;
  }
  .OpenStore-Section1-boxTextTitle {
    padding: 10px 20px;
    width: 40%;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
  }
  .OpenStore-Section1-boxTextImage {
    border-radius: 10px;
    width: 95vw;
  }
  .OpenStore-Section1-boxText {
    padding: 5px;
    width: 95vw;
  }
  .OpenStore-Section1open-title {
    display: block;
  }
  .OpenStore-Section1open-title h4 {
    font-size: 16px;
    margin: 0px;
    padding: 5px;
  }
}
.open-bner {
  box-sizing: border-box;
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  scrollbar-width: none;
  height: 100%;
  position: relative;
  min-height: 45.7175925926vw;
}
.open-bner-wr {
  box-sizing: border-box;
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  scrollbar-width: none;
  inset: 0;
  position: absolute;
  z-index: -5;
}
.open-scroll {
  box-sizing: border-box;
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  scrollbar-width: none;
}
.container {
  height: 100%;
  margin: 0 auto;
  max-width: var(--w-container);
  padding: 0 var(--pd-container);
  width: 100%;
}
@media screen and (max-width: 600px) {
  .open-list {
    bottom: -2%;
    width: 83.3333333333%;
  }
}

.open-list {
  bottom: -1%;
  display: flex;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  transform: translateX(-50%);
  width: 56.712962963%;
}
.open-item.x1 {
  width: 20%;
}
.open-item.x2 {
  width: 30.3%;
}
.open-item.x3 {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  z-index: 2;
}
-webkit-text-size-adjust: 100%;
tab-size: 4;
-webkit-tap-highlight-color: transparent;
--fa-font-sharp-solid: normal 900 1em/1 "Font Awesome 6 Sharp";
--fa-font-sharp-regular: normal 400 1em/1 "Font Awesome 6 Sharp";
--fa-font-sharp-light: normal 300 1em/1 "Font Awesome 6 Sharp";
--fa-font-sharp-thin: normal 100 1em/1 "Font Awesome 6 Sharp";
--toastify-color-light: #fff;
--toastify-color-dark: #121212;
--toastify-color-info: #3498db;
--toastify-color-success: #07bc0c;
--toastify-color-warning: #f1c40f;
--toastify-color-error: #e74c3c;
--toastify-color-transparent: hsla(0,0%,100%,.7);
--toastify-icon-color-info: var(--toastify-color-info);
--toastify-icon-color-success: var(--toastify-color-success);
--toastify-icon-color-warning: var(--toastify-color-warning);
--toastify-icon-color-error: var(--toastify-color-error);
--toastify-toast-width: 320px;
--toastify-toast-offset: 16px;
--toastify-toast-top: max(var(--toastify-toast-offset),env(safe-area-inset-top));
--toastify-toast-right: max(var(--toastify-toast-offset),env(safe-area-inset-right));
--toastify-toast-left: max(var(--toastify-toast-offset),env(safe-area-inset-left));
--toastify-toast-bottom: max(var(--toastify-toast-offset),env(safe-area-inset-bottom));
--toastify-toast-background: #fff;
--toastify-toast-min-height: 64px;
--toastify-toast-max-height: 800px;
--toastify-toast-bd-radius: 6px;
--toastify-font-family: sans-serif;
--toastify-z-index: 9999;
--toastify-text-color-light: #757575;
--toastify-text-color-dark: #fff;
--toastify-text-color-info: #fff;
--toastify-text-color-success: #fff;
--toastify-text-color-warning: #fff;
--toastify-text-color-error: #fff;
--toastify-spinner-color: #616161;
--toastify-spinner-color-empty-area: #e0e0e0;
--toastify-color-progress-light: linear-gradient(90deg,#4cd964,#5ac8fa,#007aff,#34aadc,#5856d6,#ff2d55);
--toastify-color-progress-dark: #bb86fc;
--toastify-color-progress-info: var(--toastify-color-info);
--toastify-color-progress-success: var(--toastify-color-success);
--toastify-color-progress-warning: var(--toastify-color-warning);
--toastify-color-progress-error: var(--toastify-color-error);
--toastify-color-progress-bgo: 0.2;
--fa-style-family-brands: "Font Awesome 6 Brands";
--fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
--fa-style-family-duotone: "Font Awesome 6 Duotone";
--fa-font-duotone: normal 900 1em/1 "Font Awesome 6 Duotone";
--fa-font-light: normal 300 1em/1 "Font Awesome 6 Pro";
--fa-font-regular: normal 400 1em/1 "Font Awesome 6 Pro";
--fa-font-solid: normal 900 1em/1 "Font Awesome 6 Pro";
--fa-style-family-classic: "Font Awesome 6 Pro";
--fa-font-thin: normal 100 1em/1 "Font Awesome 6 Pro";
--font-pri: "Roboto",sans-serif;
--fw: 400;
--z: 50;

--sz-hd-foot: 4.8rem;
--sz-hd: calc(var(--sz-hd-nav) + var(--sz-hd-bot));
--rs-8: 0.8rem;
--rs-4: 0.4rem;
--h-nav: 7rem;
--w-scroll: 0.5rem;
--duration: 1s;
--c-pri-base: #fad200;
--c-pri-strong: #fdea8a;
--c-pri-weak: #fffbe6;
--c-sub-base: #181818;
--c-grey: #f0f2f5;
--c-tab: #e2e8f0;
--c-important: #d71b23;
--c-success: #3eda60;
--c-info: #1d4ed8;
--c-linear: linear-gradient(290.43deg,#ff661d -9.95%,#ec1e27 108.71%);
--c-black: #000;
--c-white: #fff;
--c-txt: #0f172a;
--c-txt-strong: #1e293b;
--c-txt-weak: #475569;
--c-txt-placeholder: #757575;
--c-input-placeholder: #94a3b8;
--c-filter-white: brightness(0) invert(1);
--c-filter-pri: brightness(0) saturate(100%) invert(71%) sepia(80%) saturate(580%) hue-rotate(1deg) brightness(103%) contrast(103%);
--pd-sc: 4rem;
--sz-hd-top: 0;
--sz-hd-nav: 4rem;
--sz-hd-bot: 10rem;
--pd-container: 1.2rem;
--h-input: 4rem;
--fz-input: 1.4rem;
--f-spinner-width: 36px;
--f-spinner-height: 36px;
--f-spinner-color-1: rgba(0,0,0,.1);
--f-spinner-color-2: rgba(17,24,28,.8);
--f-spinner-stroke: 2.75;
--f-button-width: 40px;
--f-button-height: 40px;
--f-button-border: 0;
--f-button-border-radius: 0;
--f-button-color: #374151;
--f-button-bg: #f8f8f8;
--f-button-hover-bg: #e0e0e0;
--f-button-active-bg: #d0d0d0;
--f-button-shadow: none;
--f-button-transition: all 0.15s ease;
--f-button-transform: none;
--f-button-svg-width: 20px;
--f-button-svg-height: 20px;
--f-button-svg-stroke-width: 1.5;
--f-button-svg-fill: none;
--f-button-svg-filter: none;
--f-button-svg-disabled-opacity: 0.65;
--swiper-theme-color: #007aff;
--swiper-navigation-size: 44px;
color: var(--c-text);
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-pan-x: ;
--tw-pan-y: ;
--tw-pinch-zoom: ;
--tw-scroll-snap-strictness: proximity;
--tw-gradient-from-position: ;
--tw-gradient-via-position: ;
--tw-gradient-to-position: ;
--tw-ordinal: ;
--tw-slashed-zero: ;
--tw-numeric-figure: ;
--tw-numeric-spacing: ;
--tw-numeric-fraction: ;
--tw-ring-inset: ;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgba(59,130,246,.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
--tw-blur: ;
--tw-brightness: ;
--tw-contrast: ;
--tw-grayscale: ;
--tw-hue-rotate: ;
--tw-invert: ;
--tw-saturate: ;
--tw-sepia: ;
--tw-drop-shadow: ;
--tw-backdrop-blur: ;
--tw-backdrop-brightness: ;
--tw-backdrop-contrast: ;
--tw-backdrop-grayscale: ;
--tw-backdrop-hue-rotate: ;
--tw-backdrop-invert: ;
--tw-backdrop-opacity: ;
--tw-backdrop-saturate: ;
--tw-backdrop-sepia: ;
--tw-contain-size: ;
--tw-contain-layout: ;
--tw-contain-paint: ;
--tw-contain-style: ;
box-sizing: border-box;
border: 0;
font: inherit;
margin: 0;
padding: 0;
vertical-align: baseline;
cursor: url(chrome-extension://ckejmhbmlajgoklhgbapkiccekfoccmk/assets/pictos/cursor.png) 17 17, pointer !important;
scrollbar-width: none;