.OpenStore-Section1-Container {
  position: relative;
}

.OpenStore-Section1-bg1 {
  display: block;
  width: 100%;
}

.OpenStore-Section1-open-list {
  box-sizing: border-box;
  border: 0;
  font: inherit;
  padding: 0;
  vertical-align: baseline;
  display: flex;
  justify-content: space-between; /* Điều chỉnh khoảng cách giữa các item */
  left: 50%;
  margin: auto auto 8vh auto;
  position: absolute;
  transform: translateX(-50%);
  bottom: -2%;
  width: 60%;
  gap: 0; /* Loại bỏ khoảng cách giữa các phần tử */
}

.OpenStore-Section1-open-item {
  margin: 0; /* Đảm bảo không có margin dư thừa */
}

.OpenStore-Section1-open-item img {
  transition: all 0.2s ease-in-out;
  display: block; /* Loại bỏ khoảng trắng xung quanh ảnh */
  width: 100%; /* Đảm bảo ảnh bao phủ toàn bộ item */
  height: 100%;
}
/* .OpenStore-Section1-open-item img:hover {
  box-shadow: 0 4px 20px rgba(255, 215, 0, 0.8); 
} */
.OpenStore-Section1-open-item.x1 {
  width: 20%;
}

.OpenStore-Section1-open-item.x2 {
  width: 30.3%;
}

.OpenStore-Section1-open-item.x3 {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  z-index: 2;
}
.OpenStore-Section1open-title {
  box-sizing: border-box;
  border: 0;
  font: inherit;
  margin: 0;
  vertical-align: baseline;
  background-color: #fe0000;
  color: #fff;
  padding: 0px 0;
  display: flex;
  font-size: 16px;
  justify-content: space-around;
}
.OpenStore-Section1-video {
  display: flex;
  width: 80vw;
  margin: 20px auto;
  justify-content: space-around;
}
.OpenStore-Section1-video iframe {
  border-radius: "1.2rem";
}
.OpenStore-Section1-video-item {
  width: 595px;
  height: 315px;
}
.OpenStore-Section1-boxText{
  width: ;
}
@media (max-width: 1000px) {
  /* Thêm CSS responsive nếu cần */
}
