.OpenStore-Section1-Container {
  position: relative;
}

.OpenStore-Section1-bg1 {
  display: block;
  width: 100%;
}

.OpenStore-Section1-open-list {
  box-sizing: border-box;
  border: 0;
  font: inherit;
  padding: 0;
  vertical-align: baseline;
  display: flex;
  justify-content: space-between; /* Điều chỉnh khoảng cách giữa các item */
  left: 50%;
  margin: 0 auto;
  position: absolute;
  transform: translateX(-50%);
  bottom: -2%;
  height: 83.333%;
  width: 83.3333333333%;
  gap: 0; /* Loại bỏ khoảng cách giữa các phần tử */
}

.OpenStore-Section1-open-item {
  margin: 0; /* Đảm bảo không có margin dư thừa */
}

.OpenStore-Section1-open-item img {
  transition: all 0.2s ease-in-out;
  display: block; /* Loại bỏ khoảng trắng xung quanh ảnh */
  width: 100%; /* Đảm bảo ảnh bao phủ toàn bộ item */
}

.OpenStore-Section1-open-item.x1 {
  width: 20%;
}

.OpenStore-Section1-open-item.x2 {
  width: 30.3%;
}

.OpenStore-Section1-open-item.x3 {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  z-index: 2;
}

@media (max-width: 1000px) {
  /* Thêm CSS responsive nếu cần */
}
