.OpenStore-Section3-Container-Product {
  background-color: #fce154;
  padding: 10px;
  width: max-content;
  margin: auto;
}
.OpenStore-Section3-Container {
  margin-top: 20px;
}
.OpenStore-Section3-Container-ProductImage {
  width: 80vw;
  display: block;
  margin: auto;
}
.no-select {
  user-select: none; /* Disables text selection */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
  pointer-events: none; /* Prevents mouse clicks */
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 90vw;
  overflow: hidden;
  box-sizing: border-box;
  margin: auto;
  align-items: center;
}

.placeholder {
  background-color: transparent;
  border: none;
}

.outer-container {
  width: 76vw;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f3c13a;
}

.see-more-button {
  position: absolute;
  padding: 10px 20px;
  background-color: #fc0009;
  color: #fff;
  border: none;
  left: 230%;
  width: max-content;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}

.see-more-button:hover {
  background-color: #ff3d43;
}
@media (max-width: 1000px) {
  .OpenStore-Section3-Container {
    width: 90vw;
    margin: auto;
  }
  .OpenStore-Section3-Container-Product {
    width: 90vw;
  }
  .OpenStore-Section3-ItemSlider {
    width: 90vw;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .OpenStore-Section2-Container {
    width: 100vw;
    margin: auto;
  }
  .OpenStore-Section2-Container-Product {
    width: 100vw;
  }
  .OpenStore-Section2-ItemSlider {
    width: 100vw;
  }
  .OpenStore-Section2-boxTextTitle {
    padding: 6px 16px;
    width: 40%;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
  }
}
