.OpenStore-Section3-Container-Product {
  background-color: #fc0009;
  padding: 10px;
  width: max-content;
  margin: auto;
}
.OpenStore-Section3-Container {
  margin-top: 20px;
}
.OpenStore-Section3-Container-ProductImage {
  width: 75vw;
  display: block;
  margin: auto;
}
.no-select {
  user-select: none; /* Disables text selection */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
  pointer-events: none; /* Prevents mouse clicks */
}
