.OpenStore-Section3-Container-Product {
  background-color: #fce154;
  padding: 10px;
  width: max-content;
  margin: auto;
}
.OpenStore-Section3-Container {
  margin-top: 20px;
}
.OpenStore-Section3-Container-ProductImage {
  width: 75vw;
  display: block;
  margin: auto;
}
.no-select {
  user-select: none; /* Disables text selection */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
  pointer-events: none; /* Prevents mouse clicks */
}
.OpenStore-Section3-ProductData {
  width: 76vw;
  margin-left: -10px;
  display: flex;
  flex-wrap: nowrap; /* Ensures items stay on one line */
  overflow-x: auto; /* Allows scrolling if needed */
}

.OpenStore-Section3-ProductData .item {
  flex: 0 0 25%; /* Each item takes 25% of the width to fit 4 in a row */
  padding: 10px; /* Add some spacing between items */
  box-sizing: border-box; /* Ensures padding does not affect width */
}
